@model DoAn_PTUDWEB.Models.TbPost
@{
    ViewBag.Title = " Blog chi tiết";
    var comments = ViewBag.Comments as List<TbPostComment>;
}

<div class="row mt-4">
    <div class="col-md-9 mb40">
        <article>
            <img src="~/@Model.Image" alt="" class="img-fluid mb30" style="display:block; margin-left:auto; margin-right:auto">
            <div class="post-content">
                <h3>@Model.Name</h3>
                <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-user-circle-o"></i> <a href="#">@Model.CreatedBy</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> <a href="#">@Model.CreatedDate</a>
                    </li>
                </ul>
                <p>@Model.Description</p>
                <ul class="list-inline share-buttons">
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-linkedin si-gray-round">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <hr class="mb40">
                <h4 class="mb40 text-uppercase font500">Về tác giả</h4>
                <div class="media mb40">
                    <i class="d-flex mr-3 fa fa-user-circle fa-5x text-primary"></i>
                    <div class="media-body">
                        <h5 class="mt-0 font700">@Model.CreatedBy</h5> @Model.Detail
                    </div>
                </div>
                <hr class="mb40">
                <!--Comment-->

                <h4 class="mb40 text-uppercase font500">Bình luận</h4>
                @if (comments != null)
                {
                    @foreach (var comment in comments)
                    {
                        <hr class="mb40">
                        <div class="media mb40">
                            <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                            <div class="media-body">
                                <h5 class="mt-0 font400 clearfix" style="font-weight: bold">
                                    <a href="#" class="float-right">Phản hồi</a>
                                    @comment.Name
                                </h5>@comment.Detail
                            </div>
                        </div>
                    }
                }

                <hr class="mb40">
                <h4 class="mb40 text-uppercase font500">Đăng bình luận</h4>
                <form method="post" asp-controller="Blog" asp-action="AddComment" asp-route-id="@ViewBag.Post.BlogId">
                            @Html.AntiForgeryToken()

                    <!-- Thêm các trường ẩn để đảm bảo id và các giá trị khác được đẩy đúng cách -->
                    <input type="hidden" name="BlogId" value="@ViewBag.Post.BlogId" />
                    <input type="hidden" name="CreatedDate" value="@DateTime.Now" />

                    <div class="form-group">
                        <label>Họ tên</label>
                        <input type="text" name="Name" class="form-control" placeholder="Họ tên" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="Email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Bình luận</label>
                        <textarea name="Detail" class="form-control" rows="5" placeholder="Bình luận" required></textarea>
                    </div>
                    <div class="clearfix float-right">
                        <button type="submit" class="btn btn-primary btn-lg">Đăng</button>
                    </div>
                </form>
            </div>
        </article>
        <!-- post article-->

    </div>

    <div class="col-md-3 mb40">
        <div class="mb40">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-describedby="basic-addon2">
                    <button class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <!--/col-->
        <div class="mb40">
            <h4 class="sidebar-title">Danh mục</h4>
            <ul class="list-unstyled categories">
                <li><a href="#">Tin công nghệ</a></li>
                <li><a href="#">Thủ thuật</a></li>
                <li><a href="#">Thị trường</a></li>
                <li><a href="#">Tư vấn</a></li>
                <li><a href="#">Khác</a></li>
            </ul>
        </div>
        <!--/col-->
        <div>
            <h4 class="sidebar-title">Bài viết gần đây</h4>
            <ul class="list-unstyled">
                <li class="media">
                    <img class="d-flex mr-3 img-fluid" width="64" src="https://fita.vnua.edu.vn/wp-content/uploads/2021/01/Nganh-cong-nghe-phan-mem-la-gi.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><a href="#">Những chiếc smartphone loanh quanh 3 triệu bán chạy TGDD tháng 3/2024</a></h5> 3 ngày trước
                    </div>
                </li>
                <li class="media my-4">
                    <img class="d-flex mr-3 img-fluid" width="64" src="https://cdn.mos.cms.futurecdn.net/FCgEHxPQ7sSFYmnpFFjQA3.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><a href="#">Samsung Galaxy s10 thật sự có nên mua?</a></h5> 1 tuần trước
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3 img-fluid" width="64" src="https://images.idgesg.net/images/article/2020/11/iphone-12-pro-max-hero01-100866256-orig.jpeg?quality=50&strip=all" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><a href="#">Những thủ thuật mà bạn nên biết</a></h5> Mới
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>