@model IEnumerable<DoAn_PTUDWEB.Models.TbImageSlide>

@{
    ViewData["Title"] = "Banner";
}

<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Banner</a></li>
        </ul>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Chức năng
            </th>
            <th> 
                <a asp-action="Create" class="btn btn-primary btn-sm" title="Thêm banner mới"><i class="fas fa-plus fa-lg"></i>Thêm mới</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.path)" style="width:600px; height:200px" />
                
                </td>
                <td >
                    <p class="status @(item.IsActive.HasValue && item.IsActive.Value ? "delivered" : "cancelled")">@(item.IsActive == true ? "Hiện" : "Ẩn")</p>
                   
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.SlideId" class="btn btn-primary btn-sm" title="Chỉnh sửa thông tin banner">Edit<i class="fas fa-pencil-alt fa-lg"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.SlideId" class="btn btn-info btn-sm" title="Xóa thông tin banner"> <i class="fas fa-trash fa-lg"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var summerNote = new DoAn_PTUDWEB.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}