@model IList<TbPost>
@using DoAn_PTUDWEB.Utilities


@foreach (var item in Model)
{
    
    <div class="card single_post">
        <div class="body">
            <div class="img-post">
                <img class="d-block img-fluid" src="https://www.bootdey.com/image/800x280/FFB6C1/000000" alt="First slide">
            </div>
            <h3><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">@item.Name</a></h3>
            <p>@item.Description</p>
        </div>
        <div class="footer">
            <div class="actions">
                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId" class="btn btn-outline-secondary">Continue Reading</a>
            </div>
            <ul class="stats">
                <li><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">General</a></li>
                <li><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId" class="fa fa-heart">28</a></li>
                <li><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">128</a></li>
            </ul>
        </div>
    </div>
}