@model X.PagedList.IPagedList<DoAn_PTUDWEB.Models.TbTrademark>


@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-controller="Trademark" asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên thương hiệu
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Logo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               <img src=" @Html.DisplayFor(modelItem => item.Logo)" alt="" />
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TrademarkId" class="btn btn-primary btn-sm"> Sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.TrademarkId" class="btn btn-info btn-sm my-3"> Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.TrademarkId" class="btn btn-danger btn-sm"> Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Hiển thị thanh phân trang -->
<div class="pagination-container">
    <nav aria-label="Page navigation">
        <ul class="pagination">

            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { area = "Admin", controller = "Trademark", page = Model.PageNumber - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { area = "Admin", controller = "Trademark", page = i })">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { area = "Admin", controller = "Trademark", page = Model.PageNumber + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
</div>