@model IEnumerable<DoAn_PTUDWEB.Models.TbPost>

@{
    ViewData["Title"] = "Index";
	int rowIndex = 1; // Khởi tạo biến rowIndex để làm ID tăng dần từ 1
   
}

	<div class="head-title">
		<div class="left">
			<ul class="breadcrumb">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li><i class='bx bx-chevron-right'></i></li>
				<li>
					<a class="active" href="#">Bài viết</a>
				</li>
			</ul>
		</div>
	</div>

    <div class="table" id="customers_table" style="overflow: auto; max-height: 500px;">
        <section class="table__header">
            
            <div class="input-groupp">
                <input type="search" placeholder="Tìm kiếm bài viết...">
                <img src="~/admin/assets/img/search.png" alt="">
            </div>
            
            <a asp-area="Admin" asp-controller="Post" asp-action="Create" class="btn btn-primary btn-sm" title="Thêm mới bài viết">
                <i class="fas fa-plus fa-lg"></i>Thêm mới
            </a>
            
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Tên bài viết <span class="icon-arrow">&UpArrow;</span></th>                      
                        <th> Ảnh <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Tạo bởi <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Ngày tạo <span class="icon-arrow">&UpArrow;</span></th>                   
                        <th> Trạng thái <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Chức năng <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @rowIndex </td>
                            @{
                                rowIndex++; // Tăng giá trị của rowIndex sau mỗi lần sử dụng
                            }

                            <td> @item.Name </td>
                            <td> <img src="~/@item.Image" alt="Image"  /></td>
                            <td>@item.User?.FullName</td>
                            <td> @((item.CreatedDate.ToString())?.Substring(0, 10))</td>
                            <td>
                                <p class="status @(item.IsActive.HasValue && item.IsActive.Value ? "delivered" : "cancelled")">
                                    @(item.IsActive == true? "Hiển thị":"Ẩn")
                                </p>
                            </td>
                            
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@item.BlogId" class="btn btn-primary btn-sm" title="Chỉnh sửa thông tin bài viết">
                                    <i class="fas fa-pencil-alt fa-lg"></i> 
                                </a>
                                <a asp-area="Admin" asp-controller="Post" asp-action="Details" asp-route-id="@item.BlogId" class="btn btn-info btn-sm" title="Xem thông tin bài viết">
                                    <i class="fas fa-eye fa-lg"></i>
                                </a>
                                <a asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@item.BlogId" class="btn btn-danger btn-sm" title="Xóa thông tin bài viết">
                                    <i class="fas fa-trash fa-lg"></i>
                                </a>
                            </td>
                            
                        </tr>
                    }  
                </tbody>
            </table>
        </section>
    </div>

<!-- MAIN -->


