<!--nhận dữ liệu để hiển thị các sản phẩm hot từ controller -->
@model IList<TbProduct>

<!-- ========================= Phần sản phẩm hot ========================= -->
<section class="section-pagetop bg-light">
	<div class="container">
		<h2 class="title-page">Sản phẩm hot</h2>
	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<section class="section-content bg-white padding-y">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="card-banner overlay-gradient"
					 style="min-height:320px; background-image: url('../images/banners/banner1.jpg');">
					<div class="card-img-overlay white">
						<h3 class="card-title">Iphone ra mắt sản phẩm mới  </h3>
						<p class="card-text" style="max-width: 400px">
							Hãy nhanh tay trải nghiệm và sắm ngay cho mình một chiếc Iphone thật xịn xò nào.
						</p>
						<a href="" class="btn btn-warning">Khám phá ngay</a>
					</div>
				</div> <!-- card-banner //end -->
			</div> <!-- col.// -->
			<div class="col-md-4">
				<div class="card-banner"
					 style="height:320px; background-image: url('../images/banners/banner10.jpg');">
					<article class="caption bottom">
						<h5 class="card-title">Chương trình ưu đãi cho sinh viên học sinh</h5>
						<p>Nhiều sản phẩm với giá cực sốc dành cho sinh viên học sinh</p>
					</article>
				</div><!-- card-banner //end -->
			</div> <!-- col.// -->
		</div> <!-- row.// -->

		<br>

		<div class="row">
			 @foreach(var item in Model)
            {
			<div class="col-md-3">
				<article class="card card-product-grid">
					<div class="img-wrap">
						<b class="badge badge-danger mr-1">SALE</b>
							<a asp-controller="Product" asp-action="Detail" asp-route-ProductId="@item.ProductId"><img src="@item.Thumbnail"></a>
					</div>
					<div class="info-wrap">
							<a asp-controller="Product" asp-action="Detail" asp-route-ProductId="@item.ProductId" class="title-product-custom">@item.Name</a>
						<div class="price-wrap my-2">
								<span class="price">@(item.Price * (1 - item.PriceDiscount))</span>
							<del class="price-old">@item.Price</del>
						</div> <!-- price-wrap.// -->
					</div>
				</article>
			</div> <!-- col.// -->
			}
		</div> <!-- row.// -->
	</div> <!-- container .//  -->

</section>
<!-- ========================= SECTION DEAL END// ========================= -->
