<!-- MAIN -->
@model IList<TbContact>
@{
	int rowIndex = 1; // Khởi tạo biến rowIndex để làm ID tăng dần từ 1
}
<main>
	<div class="head-title">
		<div class="left">
			<h1>Dashboard</h1>
			<ul class="breadcrumb">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li><i class='bx bx-chevron-right'></i></li>
				<li>
					<a class="active" href="#">Contact</a>
				</li>
			</ul>
		</div>
	</div>

    <div class="table" id="customers_table">
        <section class="table__header">
            <h3>Contact</h3>
            
            <div class="input-groupp">
                <input type="search" placeholder="Search Data...">
                <img src="~/admin/assets/img/search.png" alt="">
            </div>
            <!--
            <button type="button" class="btn btn-primary">Thêm mới</button>
            -->
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>             
                        <th> Họ tên <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Số điện thoại <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Tên chủ đề <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Tin nhắn <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Được Đọc <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Ngày tạo <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Được tạo <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Chức năng <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @rowIndex </td>
                            @{
                                rowIndex++; // Tăng giá trị của rowIndex sau mỗi lần sử dụng
                            }

                            <td> @item.LastName @item.FirstName</td>
                            <td> @item.Phone</td>
                            <td> @item.Email</td>
                            <td> @item.SubjectName</td>
                            <td> @item.Message</td>
                            <td>
                                <p class="status @(item.IsRead.HasValue && item.IsRead.Value ? "delivered" : "cancelled")">
                                    @item.IsRead
                                </p>
                            </td>
                            <td> @item.CreatedDate</td>
                            <td> @item.CreatedBy</td>
                            
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.ContactId" class="btn btn-danger btn-sm" title="Xóa thông tin bài viết">
                                    <i class="fas fa-trash fa-lg"></i>
                                </a>
                            </td>
                            
                        </tr>
                    }  
                </tbody>
            </table>
        </section>
    </div>
</main>
<!-- MAIN -->
