@{
    ViewBag.Title = "Tài khoản";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">
				<nav class="list-group">
					<a class="list-group-item active" href="/Account"> Tổng quan về tôi  </a>
					<a class="list-group-item" asp-controller="Account" asp-action="Order" asp-route-status="1"> Đơn mua </a>
					<a class="list-group-item" href="/Account/Setting"> Cài đặt </a>
					<a class="list-group-item" href="/Account/Logout"> Đăng xuất </a>
				</nav>
			</aside> <!-- col.// -->
			<main class="col-md-9">

				<article class="card mb-3">
					<div class="card-body">

						<figure class="icontext">
							<div class="icon">
								<img class="rounded-circle img-sm border" src="images/avatars/avatar3.jpg">
							</div>
							<div class="text">
								<strong>@ViewBag.User.FullName </strong> <br>
								<p class="mb-2">@ViewBag.User.Email </p>
								<a href="#" class="btn btn-light btn-sm">Edit</a>
							</div>
						</figure>
						<hr>
						<p>
							<i class="fa fa-map-marker text-muted"></i> &nbsp; Địa chỉ:
							<br>
							@ViewBag.User.Address
							<a href="#" class="btn-link"> Sửa</a>
						</p>



						<article class="card-group card-stat">
							<figure class="card bg">
								<div class="p-3">
									<h4 class="title">@ViewBag.orderConfirm</h4>
									<span>Đã đặt hàng</span>
								</div>
							</figure>
							<figure class="card bg">
								<div class="p-3">
									<h4 class="title">@ViewBag.orderDeliver</h4>
									<span>Đang giao</span>
								</div>
							</figure>
							<figure class="card bg">
								<div class="p-3">
									<h4 class="title">@ViewBag.orderComplete</h4>
									<span>Hoàn thành</span>
								</div>
							</figure>
							<figure class="card bg">
								<div class="p-3">
									<h4 class="title">@ViewBag.orderCancel</h4>
									<span>Đã hủy</span>
								</div>
							</figure>
						</article>


					</div> <!-- card-body .// -->
				</article> <!-- card.// -->

			

			</main> 
		</div>

	</div> 
</section>

