@model IEnumerable<DoAn_PTUDWEB.Models.TbUser>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Người dùng
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                Mật khẩu mã hóa
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Ngày sửa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                Vai trò
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info btn-sm my-3">Details</a>
                <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger btn-sm"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
