<!--nhận dữ liệu để hiển thị các sản phẩm hot từ controller -->
@model IList<TbProduct>

<!-- =============== Phần sản phẩm Mới  =============== -->
<section class="padding-bottom-sm">

	<header class="section-heading heading-line">
		<h4 class="title-section text-uppercase">Mới nhất</h4>
	</header>

	<div class="row row-sm">
		@foreach (var item in Model)
		{
			<div class="col-xl-2 col-lg-3 col-md-4 col-6">
				<div  class="card card-sm card-product-grid">
					<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="img-wrap"> <img src="@item.Thumbnail"> </a>
					<figcaption class="info-wrap">
						<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="title-product-custom">@item.Name</a>
						<div class="price-wrap my-2">
							<span class="price">@item.PriceSale</span>
							<del class="price-old">@item.Price</del>
						</div> <!-- price-wrap.// -->
						<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="btn btn-block btn-primary">Mua ngay</a>
					</figcaption>
				</div>
			</div>
		}

	</div>
</section>
